*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body, input, button, textarea {
    font-family: 'Karla', sans-serif;
}
body {
    font-size: 1.2rem;
    overflow-x: hidden;
    background-color: #fcfcfc;
}
input, button, textarea {
    font-size: 100%;
}

a{
  text-decoration: none;
}

  nav{
    background-color: #404040;
    max-width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
  }

  #logo1{
    margin: 5%;
    height: 5vh;
  }
  .nav-links{
    background-color: #404040;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 6vh;
    top: 8vh;
    transition: ease 500ms;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
  }

  .nav-links.open{
    transform: translateY(0%);
    opacity: 1;
    pointer-events: all;
  }
  .nav-link{
    margin: 5% 0%;
    list-style: none;
    color: #fcfcfc;
  }

  .nav-links a:hover{
    color: #25AAE1;
  }

  .nav-links a:visited{
    color: #fcfcfc;
  }

  .logo-container{
    width: 30%;
    height: 6vh;
  }


  .line{
    width: 30px;
    height: 2px;
    background: #ffffff;
    margin: 5px;
  }


  /*toggle-icon*/
.toggle-icon {
  display: block;
  width: 100%;
  -webkit-transition: margin 600ms;
  -moz-transition: margin 600ms;
  transition: margin 600ms;
  cursor: pointer;
  font-size: 10px;
}

.toggle-icon .bar {
  display: block;
  width: 3.8em;
  height: 0.2em;
  margin: 0.9em;
  border-right: 2.8em solid #fff;
  border-left: 0.6em solid #d6d6d6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
  -moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
  transition-property: transform, margin, border-right-color, box-shadow;
  -webkit-transition-duration: 600ms;
  -moz-transition-duration: 600ms;
  transition-duration: 600ms;
}
  .toggle-icon .bar:nth-of-type(1) {
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
  }
  .toggle-icon .bar:nth-of-type(2) {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

/*pushed*/
.pushed .toggle-icon {
  margin: -2em -1em 0 0;
}

  .pushed .bar:nth-of-type(1) {
    opacity: 0;
  }

  .pushed .bar:nth-of-type(2) {
    margin-left: 1.4em;
    -webkit-transform: rotate(-137deg) translateY(-1.5em);
    -moz-transform: rotate(-137deg) translateY(-1.5em);
    -ms-transform: rotate(-137deg) translateY(-1.5em);
    -o-transform: rotate(-137deg) translateY(-1.5em);
    transform: rotate(-137deg) translateY(-1.5em);
  }

  .pushed .bar:nth-of-type(3) {
    margin-left: 0.5em;
    -webkit-transform: rotate(-42deg);
    -moz-transform: rotate(-42deg);
    -ms-transform: rotate(-42deg);
    -o-transform: rotate(-42deg);
    transform: rotate(-42deg);
  }


.pushed .toggle-icon:hover .bar:nth-of-type(2) {
  border-right-color: #e9b8b9;
  box-shadow: 0.4em 0 0.6em 0.1em rgba(205,40,44,0.75);
}
.pushed .toggle-icon:hover .bar:nth-of-type(3) {
  border-right-color: #ddf1da;
  box-shadow: 0.4em 0 0.6em 0.1em rgba(83,228,68,0.65);
}



  .intro-text, .land-cta{
    width: 80%;
    text-align: center;
  }

  .profile-img{
    height: 40vh;
    justify-content: center;
    margin-top: 0;
  }

.land-cta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.see-more, #see-more{
  display: none;
}

#see-more{
  cursor: pointer;
}

.see-more, .swipe-up {
  font-size: 1.2rem;
  width: 100%;
}

  textarea, input, button{
  font-family: 'Karla', sans-serif;
  }

  .landing-page{
    height: 92vh;
    color: #fcfcfc;
    background-color: #404040;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 400ms ease;
  }

  .landing-page.open{
    transform: translateY(6vh);
  }

  .landing-page h1{
    font-weight: 300;
  }
  .landing-page p, .main-title{
    text-align: center;
    max-width: 80%;
    height: auto;
    z-index: 2;
  }

  .landing-page p{
    font-size: 1rem;
  }

  .about-me-container{
    background-image: linear-gradient(#404040, #fcfcfc);
    padding-top: 5%;
    margin-bottom: 20%;
  }

  .about-me{
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 3%;
    background-color: #fcfcfc;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #404040;
  }

  .about-text h3{
    color: #404040;
  }

  .about-text p{
    font-size: 1.1rem;
    color: #404040;
  }

  .seperator-horizontal{
    height: 1px;
    width: 80%;
    background-color: #404040;
    margin: 10% auto;
  }
  
  .lang-icon{
    width: 20%;
  }

  #project-title{
    margin-top: 2vh;
    color: #404040;
    text-align: center;
    min-width: 100%;
    max-height: 8vh;
  }

  #project-title h1{
    font-weight: 400;
    font-size: 2rem;
  }

  #project-title h2{
    font-weight: 300;
  }

  .client-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcfcfc;
    margin: 10% 0;
  }

  #first-project{
    margin-top: 5vh;
  }


  .image-container{
    display: block;
    max-height: auto;
    max-width: 80%;
    margin-left: auto;
  }

  .image-container img{
    width: 100%;
  }

  .client-description{
    text-align: center;
    margin-top: 10%;
    width: 60%;
  }

  .client-description h3{
    font-size: 1.4rem;
  }

  #pet-text, #photo-text{
    display: none;
  }

  #pet-text.open, #photo-text.open{
    display: block;
  }

  .cta-buttons{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
  }

  .client-cta{
    width: 100%;
  }

  .cta{
    border: none;
    padding: 8px;
    border-radius: 25px;
    background-color: #25AAE1;
    color: #fcfcfcfc;
    font-weight: 400;
    transition: ease 200ms ;
  }

  .cta:hover{
    transform: scale(1.1);
  }

  .skills-projects, .project-container, .project{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills-title{
    background-color: #fcfcfc;
  }

  .skills-projects{
    background-image: linear-gradient(#fcfcfc,#404040, #404040);
  }

  .project{
    margin-top: 10%;
    padding-top: 5%;
    width: 90%;
    background-color: #fcfcfc;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #404040;
    
  }

  .project p{
    width: 60%;
    margin: 10px 0px;
    text-align: center;
  }
  
  .project-container{
    max-width:60%;
    display: flex;
    align-items: center;
  }

  .skills-projects{
    padding-top: 4vh;
    justify-content: space-around;
    padding-bottom: 10vh;
  }

  .skills-title{
    text-align: center;
    width: 100%;
    margin-top: 5%;
  }

  .skills-title h1{
    font-weight: 400;
  }

  .skills-title p{
    width: 80%;
    margin: 0 auto;
  }

  .project-container{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 200px;
    width: 200px;
    border-radius: 15px;
  }

  #form-project{
    background-image: url(img/project-images/contact-form.png);
  }

  #photo-project{
    background-image: url(img/project-images/photo-gallery.png);
  }

  #bmi-project{
    background-image: url(img/project-images/bmi-calc.png);
  }

  .overall-contact-container, .form-container, #contact-form{
    color: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .overall-contact-container{
    min-height: 100vh;
    background-color: #404040;
  }

  .contact-title h1{
    font-weight: 300;
  }

  .form-control, textarea{
    font-size: 1rem;
    width: 80vw;
    background: none;
    color: #fcfcfc;
  }

  ::placeholder { 
    color: #fcfcfc;
    opacity: 1;
  }

  .form-control-submit{
    background-color: #1ebcd8;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 10px;
    width: 60%;
    border-radius: 25px;
    margin-bottom: 10px;
    transition: ease 200ms;
}

.form-control-submit:hover{
  transform: scale(1.05);
}

.icons{
  display: flex;
  width: 60%;
  height: auto;
  justify-content: space-around;
}

/* Icons Appearance */
.fa {
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  transition: 200ms ease;
  background: none;  
  color: #fcfcfc;
}
/*hover appearance*/
.fa:hover {
  color: #25AAE1;
  transform: scale(1.2, 1.2);
}

#back-top{
  font-size: 1.5rem;
  text-decoration: underline;
  cursor: pointer;
  transition: ease 200ms;
}

#back-top:hover{
  color: #25AAE1;
}

.response{
  font-size: 1rem;
  background-color: #404040;
  color: #fcfcfc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 8vh;
  padding-bottom: 10vh;
  min-height: 100vh;
  text-align: center;
}

.response a{
  text-decoration: underline;
}
.response a:hover{
  color: #25AAE1;
}
.response a:visited{
  color: #fcfcfc;
}



#logo{
  padding-left: 5%;
  height: 5vh;

}

#letter{
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
}

#return{
  font-size: 1.5rem;
}

/*tablet mode*/
@media screen and (min-width: 700px){
  body{
    font-size: 1.2rem;
  }

  .landing-page p{
    font-size: 140%;
  }

  .about-text p{
    font-size: 1.4rem;
  }
  .about-text h3{
    font-size: 1.8rem;
  }
  .cta-buttons{
    width: 40%;
    font-size: 120%;
    margin-bottom: 5%;
  }
  .client-cta{
    width: 80%;
    margin: 0 auto;
  }
  .client-description, .extra-info{
    font-size: 1.4rem
  }

  .client-description{
    width: 60%;
    margin: 5% auto;
  }

  .project{
    width: 60%;
  }

  .skills-title p{
    font-size: 1.5rem;
  }
  .project-container{
    height: 300px;
    width: 300px;
  }
  .project p{
    font-size: 1.3rem;
    width: 80%;
  }

  .cta-buttons{
    width: 80%;
  }

  .form-control, .form-control-submit, text-area{
    font-size: 140%;
    width: 30vw;
  }
  #letter{
    max-width: 40%;
  }
}

@media screen and (min-width: 1000px){
  .seperator-horizontal{
    margin:5%;
  }
  .project{
    width: 50%;
  }
}

@media screen and (min-width: 1200px){
  nav{
    height: 10vh;
  }
  #logo1{
    height: 7vh;
  }

  #nav-container{
    display: none;
  }

  .nav-links{
    opacity: 1;
    pointer-events: all;
    position: initial;
    width: 40%;
    background-color: #404040;
    font-size: 1.5rem;

  }
  
  .landing-page{
    height: 90vh;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .portfolio{
    margin-top: -15%;
  }

  .profile-img{
    height: 60vh;
  }

  .swipe-up, #swipe-up{
    display: none;
  }

  .see-more, #see-more{
    display: block;
  }

  .land-cta{
    position: absolute;
    bottom: 5vh;
  }
  .intro-text{
    width: 30%;
    font-size: 3rem;
  }

  .client-description h3{
    font-size: 2.2rem;
  }
  
  #pet-text, #photo-text{
    display: block;
  }
  #pet-info, #photo-info{
    display:none;
  }

  .about-me{
    width: 60%;
  }

  .lang-icon{
    width: 10%;
    margin: 0 5%;
  }

  .skills-projects{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project{
    width: 30%;
  }
  .project-container{
    height: 200px;
    width: 200px;
  }
  .cta-buttons{
    width: 80%;
  }
  .client-cta{
    width: 100%;
  }
  .client-image{
    margin-top: 5%;
    width: 50%;
}
  .client-project{
    flex-direction: row-reverse;
  }

  .client-description{
    width: 40%;
  }

  .skills-projects{
    padding: 0 15%;
  }

  .project{
    width: 30%;
  }
  .contact-title{
    font-size: 2rem;
  }
  #letter{
    max-width: 25%;
  }

}