*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body, input, button, textarea {
    font-family: 'Karla', sans-serif;
}
body {
    font-size: 1rem;
    overflow-x: hidden;
}
input, button, textarea {
    font-size: 100%;
}

  a{
    text-decoration: none;
  }

  .response{
    background-color: #404040;
    color: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 8vh;
    padding-bottom: 10vh;
    min-height: 100vh;
    text-align: center;
  }

  #letter{
    justify-content: center;
    max-width: 80%;
    margin-top: 0;
  }

  #profile-img{
    height: 25vh;
    justify-content: center;
    margin-top: 0;
  }

  #return{
    font-size: 1.5rem;
  }

  textarea, input, button{
  font-family: 'Karla', sans-serif;
  }

  .logo-container{
    max-width: 50%;
  }

  .landing-page, .client-project{
    min-height: 100vh;
    padding-top: 8vh;
  }

  .landing-page{
    color: #fcfcfc;
    background-color: #404040;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 400ms ease;
  }

  .landing-page.open{
    transform: translateY(25%);
  }

  .landing-page h1{
    font-weight: 300;
  }
  .landing-page p, .main-title{
    text-align: center;
    max-width: 80%;
    z-index: 2;
  }

  .landing-page p{
    font-size: 1rem;
  }

  #project-title{
    margin-top: 2vh;
    color: #404040;
    text-align: center;
    min-width: 100%;
    max-height: 8vh;
  }

  #project-title h1{
    font-weight: 400;
    font-size: 2rem;
  }

  #project-title h2{
    font-weight: 300;
  }

  .client-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    scroll-snap-align: start;
  }

  #first-project{
    margin-top: -10vh;
  }

  #second-project{
    background-color: #e0e0e0;
  }

  #grey-back{
    background-color: #EAEAEA;
  }


  .image-container{
    display: flex;
    justify-content: flex-end;
    max-height: 60%;
    max-width: 100%;
    margin-top: 30%;
  }

  .image-container img{
    width: 90%;
    max-height: auto;
  }

  .client-description{
    text-align: center;
    margin-top: 10%;
    width: 60%;
  }

  .client-description h3{
    font-size: 1.4rem;
  }

  #pet-text, #photo-text{
    display: none;
  }

  #pet-text.open, #photo-text.open{
    display: block;
  }

  .cta-buttons{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
  }

  #client-cta{
    width: 100%;
  }

  .cta{
    border: solid 1px #25AAE1;
    padding: 8px;
    border-radius: 25px;
    background-color: #25AAE1;
    color: #fcfcfcfc;
    font-weight: 400;
    transition: ease 200ms ;
  }

  .cta:hover{
    transform: scale(1.1);
  }

  .skills-projects, .project-container, .project{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .project{
    margin-top: 10%;
    width: 100%;
  }

  .project p{
    width: 60%;
    margin: 10px 0px;
    text-align: center;
  }
  
  .project-container{
    max-width:60%;
    display: flex;
    align-items: center;
  }

  .skills-projects{
    padding-top: 4vh;
    justify-content: space-around;
    padding-bottom: 10vh;
  }

  .skills-title{
    text-align: center;
    width: 100%;
    margin-top: 5%;
  }

  .skills-title h1{
    font-weight: 400;
  }

  .skills-title p{
    width: 80%;
    margin: 0 auto;
  }

  .project-container{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 200px;
    width: 200px;
    border-radius: 15px;
  }

  #form-project{
    background-image: url(img/project-images/contact-form.png);
  }

  #photo-project{
    background-image: url(img/project-images/photo-gallery.png);
  }

  #bmi-project{
    background-image: url(img/project-images/bmi-calc.png);
  }

  .overall-contact-container, .form-container, #contact-form{
    color: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .overall-contact-container{
    min-height: 100vh;
    background-color: #404040;
  }

  .contact-title h1{
    font-weight: 300;
  }

  .form-control, textarea{
    font-size: 1rem;
    width: 80vw;
    background: none;
    color: #fcfcfc;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fcfcfc;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fcfcfc;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fcfcfc;
  }

  .form-control-submit{
    background-color: #1ebcd8;
    color: white;
    font-size: 1rem;
    padding: 10px;
    width: 60%;
    border-radius: 25px;
    margin-bottom: 10px;
}

.icons{
  display: flex;
  width: 60%;
  height: auto;
  justify-content: space-around;
}

/* Icons Appearance */
.fa {
  font-size: 2rem;
  width: 20%;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  transition: 200ms ease;
  background: none;  
  color: #fcfcfc;
}
/*hover appearance*/
.fa:hover {
  color: #25AAE1;
  transform: scale(1.2, 1.2);
}

#back-top{
  font-size: 1.5rem;
  text-decoration: underline;
  cursor: pointer;
  transition: ease 200ms;
}

#back-top:hover{
  color: #25AAE1;
}


@media screen and (min-width: 700px){
  body{
    font-size: 1.2rem;
  }

  .landing-page p{
    font-size: 140%;
  }
  .cta-buttons{
    width: 40%;
    font-size: 120%;
    margin-bottom: 5%;
  }
  #client-cta{
    width: 100%;
  }
  .client-description, .extra-info{
    font-size: 1.4rem
  }

  #client-image{
    width: 50%;
    margin-left: auto;
    margin-top: 0;
  }
  .client-description{
    width: 40%;
    margin: 5% auto 0% auto;
  }
  .client-project{
    flex-direction: row-reverse;
    min-height:50vh;
  }
  .skills-title p{
    font-size: 140%;
  }
  .project-container{
    height: 300px;
    width: 300px;
  }
  .project p{
    font-size: 140%;
  }

  .form-control, .form-control-submit, text-area{
    font-size: 120%;
    width: 60vw;
  }
}

@media screen and (min-width: 1200px){
  #pet-text, #photo-text{
    display: block;
  }
  #pet-info, #photo-info{
    display:none;
  }

  .skills-projects{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project{
    width: 30%;
  }
  .project-container{
    height: 200px;
    width: 200px;
  }
  .cta-buttons{
    width: 80%;
  }
}