*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Karla', sans-serif;
    overflow-x: hidden;
  }

  .response{
    background-color: #404040;
    color: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 8vh;
    padding-bottom: 10vh;
    min-height: 100vh;
    text-align: center;
  }

  #letter{
    justify-content: center;
    max-width: 80%;
    margin-top: 0;
  }

  #return{
    font-size: 1.5rem;
  }

  textarea, input{
  font-family: 'Karla', sans-serif;
  }
  
  nav{
    background-color: #404040;
    min-height:8vh;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  

  .logo-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 5%;
  }

  #logo{
      max-width: 30%;
  }

  .burger{
    display: block;
    margin-right: 5%;
  }

  .burger-line{
    height: 2px;
    width: 30px;
    background-color: #fcfcfc;
    margin: 8px 0px;
  }

  .burger-line-scrolled{
    background-color: #404040;
  }
  
  .nav-links{
    position: absolute;
    top: 8vh;
    width: 100%;
    height: 20vh;
    background-color: #404040;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-100%);
    transition: all 410ms ease;
    z-index: 1;
    }

    #seperator{
        width: 100%;
        height: 1px;
        background-color: #0e0d0d;
    }

    .nav-links.open{
        transform: translateY(0%);
    }
  
  .nav-link a, a {
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    color: #ffffff;
    margin: 0px 2px 0px 2px;
  }
  
  .nav-link a:hover{
    text-decoration: underline;
    transition: 0.5s ease;
  }
  
  .nav-link a:visited{
    text-decoration: none;
    color: white;
  }

  .landing-page, .client-project{
    min-height: 100vh;
    padding-top: 8vh;
  }

  .landing-page{
    color: #fcfcfc;
    background-color: #404040;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 400ms ease;
  }

  .landing-page.open{
    transform: translateY(25%);
  }

  .landing-page h1{
    font-weight: 300;
  }
  .landing-page p, .main-title{
    text-align: center;
    max-width: 80%;
  }

  .landing-page p{
    font-size: 1.2rem;
  }

  .scrolldown{
    position:absolute;
    bottom: 20px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-80px) translateX(-50%) rotate(45deg);
  }
  
  .scrolldown span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-top: 3px solid #25AAE1;
    border-left: 3px solid #25AAE1;
    animation: animate 1.2s linear infinite;
    opacity: 0;
  }
  
  .scrolldown span:nth-child(1){
    transform: translate(-15px, -15px);
    animation-delay: 0s;
  }
  .scrolldown span:nth-child(2){
    transform: translate(0,0);
    animation-delay: -0.2s;
  }
  
  .scrolldown span:nth-child(3){
    transform: translate(15px, 15px);
    animation-delay: -0.4s;
  }
  
  .scrolldown:hover{
    cursor: pointer;
  }
  
  @keyframes animate{
    0%{
      top:5px;
      left:5px;
      opacity:0;
    }
    25%{
      top:0px;
      left:0px;
      opacity:1;
    }
    50%, 100%{
      top:-5px;
      left:-5px;
      opacity:0;
    }
  }

  .client-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }

  #grey-back{
    background-color: #EAEAEA;
  }

  #project-title{
    margin-top: 2vh;
    color: #404040;
    text-align: center;
  }

  #project-title h1{
    font-weight: 400;
    font-size: 2rem;
  }

  #project-title h2{
    font-weight: 300;
  }

  .image-container{
    display: flex;
    justify-content: flex-end;
    max-height: 60%;
    max-width: 100%;
    margin-top: 15%;
  }

  .image-container img{
    width: 90%;
    max-height: auto;
  }

  .client-description{
    text-align: center;
    margin-top: 20%;
    width: 60%;
  }

  .extra-info{
    overflow: hidden;
  }
  #pet-text, #photo-text{
    display: none;
  }

  #pet-text.open, #photo-text.open{
    display: block;
  }

  .cta-buttons{
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
  }

  #pet-info, #photo-info{
    font-size: 1rem;
    padding: 10px;
  }

  .cta{
    border: solid 1px #25AAE1;
    padding: 8px;
    border-radius: 25px;
    background-color: #25AAE1;
    color: #fcfcfcfc;
    font-weight: 400;
    transition: ease 200ms ;
  }

  .cta:hover{
    transform: scale(1.2);
  }

  .skills-projects, .project-container, .project{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .project{
    margin-top: 10%;
    width: 100%;
  }

  .project p{
    width: 60%;
    text-align: center;
  }
  
  .project-container{
    max-width:60%;
    display: flex;
    align-items: center;
  }

  .skills-projects{
    padding-top: 4vh;
    justify-content: space-around;
    padding-bottom: 10vh;
  }

  .skills-title{
    text-align: center;
    width: 80%;
  }

  .skills-title h1{
    font-weight: 400;
  }

  .project-container{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 200px;
    width: 200px;
    border-radius: 15px;
  }

  #form-project{
    background-image: url(img/project-images/contact-form.png);
  }

  #photo-project{
    background-image: url(img/project-images/photo-gallery.png);
  }

  #bmi-project{
    background-image: url(img/project-images/bmi-calc.png);
  }

  .overall-contact-container, .form-container, #contact-form{
    color: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .overall-contact-container{
    min-height: 100vh;
    background-color: #404040;
    padding-top: 4vh;
  }

  .contact-title h1{
    font-weight: 300;
  }

  .form-control, textarea{
    font-size: 1rem;
    width: 80vw;
    background: none;
    color: #fcfcfc;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fcfcfc;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fcfcfc;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fcfcfc;
  }

  .form-control-submit{
    background-color: #1ebcd8;
    color: white;
    font-size: 1rem;
    padding: 10px;
    width: 60%;
    border-radius: 25px;
    margin-bottom: 10px;
}

.icons{
  display: flex;
  width: 60%;
  height: auto;
  justify-content: space-around;
}

/* Icons Appearance */
.fa {
  font-size: 2rem;
  width: 20%;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  transition: 200ms ease;
  background: none;  
  color: #fcfcfc;
}
/*hover appearance*/
.fa:hover {
  color: #25AAE1;
  transform: scale(1.2, 1.2);
}

